---
import "../styles/style.css"
import chilaquiles from "../images/chilaquiles.webp"
---
<style lang="scss"></style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>3196046 - Jose Chable - WorkSheet Week 3</title>
	</head>
	<body>
		<article class="card">
			<a href="index"><p id="back" class="label">Back</p></a>
			<img id="photo" src={chilaquiles.src}>
			<h1>Red Chilaquiles</h1>
			<div class="recipe">
			<p><strong>Ingredients:</strong></p>
			<ul>
				<li>Chips or fried tortillas</li>
				<li>Green sauce (can be homemade or from a jar)</li>
				<li>Crumbled fresh cheese</li>
				<li>Cream and onion to taste</li>
			</ul>
			<p><strong>Preparation:</strong>Heat the sauce in a frying pan, add the tortilla chips and stir for a few seconds until they soften slightly. Serve with cream, cheese and onion. Ready!!</p>
			</div>
		</article>
	</body>
</html>
